:root {
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 3s;
  --typewriterCharactersHeading: 20;
  --typewriterCharactersSubTitle: 24;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

h1 {
  font-size: clamp(1rem, 2vw + 1rem, 4rem);
  position: relative;
  font-family: 'Source Code Pro', monospace;
  width: max-content;
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* The charecters count (18) is hardcoded here, but this value can be set dynamically with JS */
h1::before {
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharactersHeading)) 1s forwards;
  background: var(--bg-color);
}

h1::after {
  width: 0.125em;
  background: transparent;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharactersHeading)) 1s forwards,
    blink 750ms steps(24) 6;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: clamp(0.75rem, 1vw + 1rem, 2rem);
  font-weight: 400;
  position: relative;
  width: max-content;
}

.subtitle::before,
.subtitle::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.subtitle::before {
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharactersSubTitle)) calc(var(--typewriterSpeed) + 2s)
    forwards;
  background: var(--bg-color);
}

.subtitle::after {
  width: 0.125em;
  background: transparent;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharactersSubTitle))
      calc(var(--typewriterSpeed) + 2s) forwards,
    blink 750ms steps(24) calc(var(--typewriterSpeed) + 2s) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: #000;
  }
}
